html, body {
  height: 100%;
  width: 100%;
  background:linear-gradient(145deg, #5e4952, #d9d9e0) ;
}
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
nav{
  display: flex;
  width: 100%;
  margin: auto;
  padding: 30px 10px;
  align-items: center;
  justify-content: space-between;
}
nav ul li{
  display: inline-block;
  margin: 20px 10px;
}
nav ul li a{
  text-decoration: none;
  color:#d9d9e0;
  font-weight: bold;
}
nav ul li a:hover{
  color: #d9d9e0;
}
.about_me{
  color:#d9d9e0;
  padding: 20px;
  

}
